/* Colours */
@define-color margin_color #333;
@define-color text_area_color #444;
@define-color hover_color #4c6985;
@define-color bg_color #333;
@define-color fg_color #BBB;

* {
	border: 0;
	-GtkScrollbar-has-backward-stepper: false;
	-GtkScrollbar-has-forward-stepper: false;
	-GtkWindow-resize-grip-height: 0;
	-GtkWindow-resize-grip-width: 0;
}

GtkWindow {
	background: #333;
}

#main_menu_left {
	background: #300;
}

GtkButton {
	background: alpha(#4c6985, 0);
	border-radius: 0;
}

GtkButton:hover {
	transition: 250ms ease-in-out;
	background: @hover_color;
}

#main_text_view {
	background: #363636;
	color: #EEE;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.menu {
	font-family: "Monospace";
	background: #444;
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
	border-color: #222;
}

.menu :hover {
	transition: 250ms ease-in-out;
	background: @hover_color;
}

.menu :insensitive {
	background: #444;
	color: #333;
}

#main_text_view:selected {
	background: #BBB;
}

.separator {
    color: #666;
}

.scrollbar.slider
{
    border-style: solid;
    border-width: 2px;
    border-color: #222;
    border-radius: 10px;
    background-color: #333;
}